.details {
  flex-basis: calc((506 / 1056) * 100%);
}

.details__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-2xl);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 196px;
  padding: var(--size-2xl);
  color: var(--color-neutral-filled-900);
  background-color: var(--color-neutral-tone-100);
  border-radius: var(--size-lg);
}

.card__title {
  font-size: var(--size-2xl);
  line-height: 1.25;
  font-weight: 700;
}

.card__icon,
.card__metric,
.card__range,
.card__text {
  margin-top: var(--size-2xl);
}

.card__icon {
  width: var(--size-4xl);
  height: var(--size-4xl);

  img {
    rotate: calc(var(--rotate) * 1deg);
  }
}

.card__metric {
  font-size: var(--size-4xl);
  line-height: 1;
}

.card__range ~ .card__text {
  margin-top: var(--size-lg);
}

.card__range {
  position: relative;
  width: 126px;
  height: var(--size-lg);
  border-radius: var(--size-lg);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: var(--color-neutral-tone-200);
    mask-image: radial-gradient(
      circle at calc(var(--progress, 0) * (100% - 8px) / 100 + 4px) center,
      transparent 6px,
      black 6px
    );
    -webkit-mask-image: radial-gradient(
      circle at calc(var(--progress, 0) * (100% - 8px) / 100 + 4px) center,
      transparent 6px,
      black 6px
    );
  }
}

.card__range--dark {
  &::before {
    background: radial-gradient(
      50% 9453.13% at 50% 50%,
      rgba(84, 84, 84, 0.4) 0%,
      rgba(138, 138, 138, 0.4) 45%,
      #dadada 100%,
      rgba(218, 218, 218, 0.4) 100%
    );
  }
}
.card__range-circle {
  position: absolute;
  top: 50%;
  left: calc(var(--progress, 0) * (100% - 8px) / 100);
  width: var(--size-lg);
  height: var(--size-lg);
  background: var(--color-neutral-filled-100);
  border-radius: 50%;
  transform: translateY(-50%);
}

.card__text {
  font-size: var(--size-xl);
  line-height: 1.33333;
  color: var(--color-neutral-filled-800);
}

.card__text--long {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
