.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-lg);
  text-align: center;
}

.overview__location {
  font-size: var(--size-3xl);
  line-height: 1.33333;
  font-weight: 700;
}

.overview__now,
.overview__time,
.overview__feeling {
  margin-top: var(--size-lg);
}

.overview__date,
.overview__time {
  display: block;
}

.overview__temperature,
.overview__condition {
  margin-top: 64px;
}

.overview__temperature {
  font-size: 112px;
  line-height: 1;
  font-weight: 700;
}

.overview__condition {
  --icon-url: url("");

  position: relative;
  padding-left: var(--size-4xl);

  &::before {
    content: "";
    position: absolute;
    inset: 50% auto auto 0;
    width: var(--size-3xl);
    height: var(--size-3xl);
    translate: 0 -50%;
    background: center / contain no-repeat var(--icon-url);
  }
}
