@import "../components/details.css";
@import "../components/cards.css";

.weather {
  display: flex;
  gap: var(--size-2xl);
  padding-block: var(--size-4xl);
}

.weather__details {
  flex-basis: calc((534 / 1056) * 100%);
  padding: var(--size-lg);
}

.weather__cards {
  flex-basis: calc((506 / 1056) * 100%);
}
