.container {
  width: 100%;
  max-width: 1120px;
  margin: auto auto;
  padding-inline: var(--size-4xl);
  background-color: rgba(112, 112, 112, 0.1);
  border-radius: var(--size-lg);
  backdrop-filter: blur(var(--blur));
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.flex-row {
  display: flex;
  gap: var(--size-2xl);
  padding-block: var(--size-4xl);

  section:first-child {
    flex-basis: calc((534 / 1056) * 100%);
  }

  section:last-child {
    flex-basis: calc((506 / 1056) * 100%);
  }
}
