:root {
  --size-xs: 2px;
  --size-sm: 4px;
  --size-md: 6px;
  --size-lg: 8px;
  --size-xl: 12px;
  --size-2xl: 16px;
  --size-3xl: 24px;
  --size-4xl: 32px;

  --color-neutral-filled-100: #f5f4f4;
  --color-neutral-filled-200: #dadada;
  --color-neutral-filled-600: #707070;
  --color-neutral-filled-800: #393939;
  --color-neutral-filled-900: #202020;

  --color-neutral-tone-100: rgba(245, 244, 244, 0.4);
  --color-neutral-tone-200: rgba(218, 218, 218, 0.4);

  --blur: 25px;
  --transition-duration: 0.2s;
}
