:root {
  --size-xs: 2px;
  --size-sm: 4px;
  --size-md: 6px;
  --size-lg: 8px;
  --size-xl: 12px;
  --size-2xl: 16px;
  --size-3xl: 24px;
  --size-4xl: 32px;

  --color-neutral-100: #f5f4f4;
  --color-neutral-600: #707070;
  --color-neutral-700: #545454;
  --color-neutral-900: #202020;

  --bg-color-neutral-100: rgba(245, 244, 244, 0.4);
  --bg-color-neutral-200: #dadada;

  --blur: 25px;
  --transition-duration: 0.2s;
}
