.search {
  position: relative;
}

.search__input {
  width: 100%;
  padding: var(--size-xl) 56px var(--size-xl) var(--size-2xl);
  color: var(--color-neutral-filled-900);
  background-color: var(--color-neutral-tone-100);
  border-radius: var(--size-lg);
  transition-property: background-color;
  transition-duration: var(--transition-duration);

  &::placeholder {
    color: var(--color-neutral-filled-600);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-neutral-filled-200);
  }

  &:focus-visible,
  &:not(:placeholder-shown) {
    ~ .search__loupe {
      visibility: hidden;
      opacity: 0;
    }
    ~ .search__button {
      visibility: visible;
      opacity: 1;
    }
  }
}

.search__loupe,
.search__button {
  position: absolute;
  inset: var(--size-xl) var(--size-2xl) auto auto;
  color: var(--color-neutral-filled-700);
  transition-property: visibility, opacity, color;
  transition-duration: var(--transition-duration);
}

.search__loupe {
  display: inline-block;
  padding: var(--size-xs);
  fill: transparent;
}

.search__button {
  padding: var(--size-sm);
  visibility: hidden;
  opacity: 0;

  &:hover {
    color: var(--color-neutral-filled-900);
  }
}
